/* ===== global styles ===== */
* {
  box-sizing: border-box;
}

/* ===== index.html styles ===== */
.page-wrapper {
  padding: 10px;
}

.header-content-wrapper {
  background-color: lightblue;
  border: solid black 1px;
  padding: 10px;
}

.links-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: lightyellow;
  font-weight: bold;
}

.image-wrapper {
  background-color: lightgrey;
  padding: 10px;
}

img {
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.student-links-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: lightgreen;
  font-weight: bold;
}

/* ===== aboutMe.html styles ===== */
.introduction-wrapper {
  background-color: lightblue;
  padding: 10px;
}

.interests-wrapper {
  background-color: lightyellow;
  padding: 10px;
}

.fact-wrapper {
  background-color: lightgrey;
  padding: 10px;
}

/* ===== contactMe.html styles ===== */
.error-message {
  font-size: 0.85rem;
  color: red;
}

.success-message {
  margin-left: 15px;
  color: green;
}
